# Lesson 2 Exercise 1: Creating Normalized Tables

<img src="images/postgresSQLlogo.png" width="250" height="250">

In [1]:
import psycopg2

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=huiren password=1234")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

#### Create Table: music_store

<img src="images/table12.png" width="650" height="650">

In [3]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store (Transaction_Id int, Customer_Name varchar, Cashier_Name varchar, Year int, Albums_Purchased text[])")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000, ['Rubber Soul', 'Let it Be']))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000, ['My Generation'])) 
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max','Bob', 2018, ['Meet the Beatles', 'Help!']))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
    
try: 
    cur.execute("SELECT * FROM music_store;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, ['Rubber Soul', 'Let it Be'])
(2, 'Toby', 'Sam', 2000, ['My Generation'])
(3, 'Max', 'Bob', 2018, ['Meet the Beatles', 'Help!'])

#### Moving to 1st Normal Form (1NF)
Remove any collections or list of data and break up the list of songs into individual rows.

In [4]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (Transaction_Id int, Customer_Name varchar, Cashier_Name varchar, Year int, Albums_Purchased varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000, 'Rubber Soul'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000,'Let it Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000, 'My Generation'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Meet the Beatles'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id, Customer_Name, Cashier_Name, Year, Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Help!'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 'Let it Be')
(2, 'Toby', 'Sam', 2000, 'My Generation')
(3, 'Max', 'Bob', 2018, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 'Help!')

#### Moving to 2nd Normal Form (2NF)
The primary key (transaction id) is not unique. Break up the table into two tables, transactions and albums sold.

In [5]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions (Transaction_Id int, Customer_Name varchar, Cashier_Name varchar, Year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (Album_Id int, Transaction_Id int, Album_Name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (Transaction_Id, Customer_Name, Cashier_Name, Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions (Transaction_Id, Customer_Name, Cashier_Name, Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (Transaction_Id, Customer_Name, Cashier_Name, Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Album_Name) \
                 VALUES (%s, %s, %s)", \
                 (1,1,'Rubber Soul')) 
       
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Album_Name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, 'Let it Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Album_Name) \
                 VALUES (%s, %s, %s)", \
                 (3, 2, 'My Generation'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Album_Name) \
                 VALUES (%s, %s, %s)", \
                 (4, 3, 'Meet the Beatles'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Album_Name) \
                 VALUES (%s, %s, %s)", \
                 (5, 3, 'Help!'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

print("Table: transactions\n")
try: 
    cur.execute("SELECT * FROM transactions;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions

(1, 'Amanda', 'Sam', 2000)
(2, 'Toby', 'Sam', 2000)
(3, 'Max', 'Bob', 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

### `JOIN` on these tables to get all the information in the original first Table.

In [6]:
try: 
    cur.execute("SELECT * FROM transactions JOIN albums_sold ON transactions.Transaction_Id = albums_sold.Transaction_Id ;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 1, 1, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 2, 1, 'Let it Be')
(2, 'Toby', 'Sam', 2000, 3, 2, 'My Generation')
(3, 'Max', 'Bob', 2018, 4, 3, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 5, 3, 'Help!')

#### Moving to 3rd Normal Form (3NF)
Remove transitive dependencies.

In [7]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions2 (Transaction_Id int, Customer_Name varchar, Cashier_Id int, Year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS employees (Cashier_Id int, Cashier_Name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (Transaction_Id, Customer_Name, Cashier_Id, Year) \
                 VALUES (%s, %s, %s, %s)", \
                (1, 'Amanda', 1, 2000))

except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (Transaction_Id, Customer_Name, Cashier_Id, Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 'Toby', 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions2 (Transaction_Id, Customer_Name, Cashier_Id, Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 'Max', 2, 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (Cashier_Id, Cashier_Name) \
                 VALUES (%s, %s)", \
                 (1, 'Sam'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (Cashier_Id, Cashier_Name) \
                 VALUES (%s, %s)", \
                 (2, 'Bob'))                
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    

print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees

(1, 'Sam')
(2, 'Bob')

### Complete the last two `JOIN` on these 3 tables to get all the information in the first Table.

In [8]:
try: 
    cur.execute("SELECT * FROM (transactions2 JOIN employees ON \
                               transactions2.Cashier_Id = employees.Cashier_Id) JOIN \
                               albums_sold ON albums_sold.Transaction_Id = transactions2.Transaction_Id;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 1, 2000, 1, 'Sam', 1, 1, 'Rubber Soul')
(1, 'Amanda', 1, 2000, 1, 'Sam', 2, 1, 'Let it Be')
(2, 'Toby', 1, 2000, 1, 'Sam', 3, 2, 'My Generation')
(3, 'Max', 2, 2018, 2, 'Bob', 4, 3, 'Meet the Beatles')
(3, 'Max', 2, 2018, 2, 'Bob', 5, 3, 'Help!')

### Drop the tables.

In [9]:
try: 
    cur.execute("DROP table music_store")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table music_store2")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table albums_sold")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table employees")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table transactions")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table transactions2")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### Close cursor and connection.

In [10]:
cur.close()
conn.close()