# Lesson 2 Exercise 3: Creating Fact and Dimension Tables with Star Schema

<img src="images/postgresSQLlogo.png" width="250" height="250">

In [1]:
import psycopg2

### Create a connection to the database

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=huiren password=1234")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [3]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)

In [4]:
conn.set_session(autocommit=True)


<img src="images/starSchema.png" width="750" height="750">

### Create the Fact table and insert the data into the table

In [5]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS customer_transaction (Customer_ID int, Store_ID int, Spent numeric)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert into all tables 
try: 
    cur.execute("INSERT INTO customer_transaction (Customer_ID, Store_ID, Spent) VALUES (%s, %s, %s)", \
    (1, 1, 20.50))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try: 
    cur.execute("INSERT INTO customer_transaction (Customer_ID, Store_ID, Spent) VALUES (%s, %s, %s)", \
    (2, 1, 35.21))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Create the Dimension tables and insert data into those tables.

In [6]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS customer (Customer_ID int, Name varchar, Rewards boolean)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO customer (Customer_ID, Name, Rewards) VALUES (%s, %s, %s)", \
               (1, 'Amanda', True))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO customer (Customer_ID, Name, Rewards) VALUES (%s, %s, %s)", \
               (2, 'TOBY', False))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS item_purchased (Customer_ID int, Item_Number int, Item_Name varchar)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO item_purchased (Customer_ID, Item_Number, Item_Name) VALUES (%s, %s, %s)", \
               (1, 1, 'Rubber Soul'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try: 
    cur.execute("INSERT INTO item_purchased (Customer_ID, Item_Number, Item_Name) VALUES (%s, %s, %s)", \
               (2, 3, 'Let it Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS store (Store_ID int, State varchar)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO store (Store_ID, State) VALUES (%s, %s)", \
               (1, 'CA'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO store (Store_ID, State) VALUES (%s, %s)", \
               (2, 'WA'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Run the following queries on this data
 
#### Query 1: Find all the customers that spent more than 30 dollars, who are they, which store they bought it from, location of the store, what they bought and if they are a rewards member.

#### Query 2: How much did Customer 2 spend?

### Query 1:

In [7]:
try: 
    cur.execute("SELECT Name, store.Store_ID, State, Item_Name, Rewards \
    FROM ((customer_transaction JOIN customer ON customer_transaction.Customer_ID = customer.Customer_ID) \
    JOIN item_purchased ON customer_transaction.Customer_ID = item_purchased.Customer_ID) \
    JOIN store ON customer_transaction.Store_ID = store.Store_ID WHERE spent > 30")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('TOBY', 1, 'CA', 'Let it Be', False)

### Query 2:

In [8]:
try: 
    cur.execute("SELECT Customer_ID, spent FROM customer_transaction WHERE Customer_ID = 2")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(2, Decimal('35.21'))

### Drop the tables

In [9]:
try: 
    cur.execute("DROP table customer_transaction, customer, item_purchased, store")
    
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### Close cursor and connection.

In [10]:
cur.close()
conn.close()